registry=http://mirrors.cloud.tencent.com/npm/
@trionesdev:registry=https://moensun-npm.pkg.coding.net/npm/moensun/
@moensun:registry=https://moensun-npm.pkg.coding.net/npm/moensun/
@dubhe:registry=https://moensun-npm.pkg.coding.net/npm/moensun/
