.deviceDetailView {
    padding: 8px;
    box-sizing: border-box;
    gap: 8px;

    :global {
        .ant-vertical-panel-content {
            background-color: white;
        }
    }
}

.infoTab,
.ProtocolTab {
    padding: 8px;
}

.thingModelDataTab {
    height: 100%;
}

.thingModelPropertiesDataTab {
    padding: 8px;
}
